
<div class="modal-header">
    <div>
        <span class="modal-close-default-sl modal-close">fechar <i class="fas fa-window-close" aria-hidden="true"></i></span>
    </div>
</div>
<div class="modal-content">
    <div class="form-header">
        <span>Justificativa nova Liberação </span>
    </div>
    <div class="formulario-justificativa">
        <form>
            <div class="row" style="margin-top: 1rem;">
                <div class="col s12 form-input"><textarea style="margin-top: 0;" id="justificativa" class="materialize-textarea" data-length="120" maxlength="120"></textarea></div>
            </div>
            <div class="row">
                <span id="enviar_justificativa" style="margin-right: 10px;" class="btn right ">Enviar</span>
            </div>
        </form>
    </div>
</div>

