<div id="conclusao" class="bloco-conteudo-padrao">
    <div class="aviso center">
        <h6 class="aviso--msg">
            Se você deseja alterar algo, clique no botão "EDITAR", senão clique em "FINALIZAR"
        </h6>
        <a class="btn editar btn-editar">Editar</a>
        <a class="btn finalizar">Finalizar</a>
    </div>
</div>
