@model IEnumerable<SLCONSTRUCT.UI.WEB.ViewModels.OrganizacaoVModel>

<ul class="row sortable">
    @foreach (var item in Model)
    {
        var iconcls = item.tipoconteudo == "Vídeo" ? "fa-video" : item.tipoconteudo == "Infográfico" ? "fa-image" : item.tipoconteudo.Contains("Guia") ? "fa-file-alt" : "fa-check-double";

        <li class="col s12 sortable-organizacao" data-ordem="@item.ordem" data-codunidadeaprendizagemtrilha="@item.codunidadeaprendizagemtrilha"><i class="fas @iconcls"></i> <span>@string.Format("{0} - {1}", item.labeltipoconteudo, item.titulo)</span></li>
    }

</ul>
<div class="right">
    <button id="btnSalvarOrganizacaoAnoSemestre" class="btn waves-effect waves-light avancar salvarorganizacao">Salvar</button>
</div>