
<div class="modal-header">
    <div>
        <input type="hidden" id="codpessoadesafiotentativa_modal" />
        <span class="modal-close-default-sl modal-close">fechar <i class="fas fa-window-close" aria-hidden="true"></i></span>
        <span class="tentativaN">TENTATIVA MACRODESAFIO: </span><span class="aluno"></span>
    </div>

    <div>
        <div>
            <span class="div-entrega-aluno">Data de entrega do aluno: </span>
            <span class="data-entregaN data-entrega-aluno"></span>
        </div>

        <div class="div-limite-entrega">
            <span class="">Data limite de entrega: </span>
            <span class="data-entregaN data-limite-entrega"></span>
        </div>

        <div class="div-limite-atraso">
            <span class="">Data limite de entrega com atraso: </span>
            <span class="data-entregaN data-limite-entrega-atraso"></span>
        </div>
    </div>
</div>
<div class="modal-content">
    <span class="texto">Atenção, este Microdesafio já foi encerrado. Para as nova tentativa seja disponibilizado para o aluno clique no botão "Atribuir Nova Tentativa" e configure um novo prazo de entrega.</span>
    <a id="atribuir-nova-tentativa" class="dropdown-button btn center verde-aqua" href="#" data-activates="criar-questao-drop">Atribuir Nova Tentativa</a>
</div>


