@model IEnumerable<SLCONSTRUCT.UI.WEB.ViewModels.MacroDesafioCanceladoVModel>


<div class="modal-header">
    <h4>Histórico de Macrodesafio Cancelados</h4>
    <span class="modal-close-default-sl modal-close">
        fechar<i class="fas fa-window-close" aria-hidden="true"></i>
    </span>
</div>

<div class="modal-content">
    <table class="bordered">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>data entrega</th>
                <th class="arquivo">Arquivo</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.NomeAluno
                    </td>

                    <td>
                        @if (item.DataEntrega != "")
                        {
                            @item.DataEntrega
                        }
                        else
                        {
                            <span>não entregue</span>
                        }

                    </td>

                    <td class="arquivo">
                        @if (item.UrlArquivo != "")
                        {
                            <a href="@item.UrlArquivo" target="_blank">
                                <i class="fas fa-download"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal-footer">

</div>