@model SLCONSTRUCT.UI.WEB.ViewModels.TentativaMicrodesafioVModel
<div class="opcoes row">
    <div class="justificativa">Justificativa<span></span></div>

    @if (Model.tentativatresposta != null && Model.tentativatresposta.Count() > 0)
    {
        foreach (var questao in Model.tentativatresposta)
        {
            <div data-coditem="@questao.coditem" class="col s12 questao-texto">@Html.Raw(questao.texto)</div>

            var numeracao = 0;
            for (int i = 0; i < Model.tentativatrespostaalternativa.Count(); i++)
            {
                if (questao.coditem == Model.tentativatrespostaalternativa[i].coditem)
                {

                    if (numeracao == 5)
                    {
                        numeracao = 0;
                    }

                    var CSS = numeracao == 0 ? "um" : numeracao == 1 ? "dois" : numeracao == 2 ? "tres" : numeracao == 3 ? "quatro" : numeracao == 4 ? "cinco" : "";

                    var correto = "";

                    if (Model.tentativatrespostaalternativa[i].correta && Model.tentativatrespostaalternativa[i].alternativaresposta == 0)
                    {
                        correto = "active";
                    }
                    if (Model.tentativatrespostaalternativa[i].alternativaresposta == 1 && !Model.tentativatrespostaalternativa[i].correta)
                    {
                        correto = "erro";
                    }
                    if (Model.tentativatrespostaalternativa[i].correta && Model.tentativatrespostaalternativa[i].alternativaresposta == 1)
                    {
                        correto = "correta";
                    }

                    <div class="quiz">
                        <div class="quiz-content">
                            <div class="quiz-block @CSS @correto">
                                <span class="link-feedback"> </span>
                                <span class="alternative">
                                    @Html.Raw(Model.tentativatrespostaalternativa[i].descricao)
                                </span>
                            </div>
                        </div>
                    </div>
                    numeracao += 1;
                }
            }
        }
    }
    else
    {
        <label>O aluno não realizou essa tentativa.</label>
    }
</div>

