

<div class="modal-header">
    <div>
        <input type="hidden" id="codpessoadesafiotentativa_modal_tela_correcao" />
        <span class="modal-close-default-sl modal-close">fechar <i class="fas fa-window-close" aria-hidden="true"></i></span>
        <span class="tentatiaN">TENTATIVA MACRODESAFIO: </span><span class="aluno">Aluno teste 01</span>
        <span class="tentativaN"></span><b><span class="alunoN texto"></span></b>
    </div>
    <div>
        <div>
            <span class="div-entrega-aluno">Data de entrega do aluno: </span>
            <span class="data-entregaN data-entrega-aluno"></span>
        </div>
        
        <div class="div-limite-entrega">
            <span class="">Data limite de entrega: </span>
            <span class="data-entregaN data-limite-entrega"></span>
        </div>
        
        <div class="div-limite-atraso">
            <span class="">Data limite de entrega com atraso: </span>
            <span class="data-entregaN data-limite-entrega-atraso"></span>
        </div>
    </div>
</div>
<div class="modal-content">
    <span class="texto">Para que as novas tentativas sejam disponibilizadas para o aluno clique no botão "Atribuir Nova Tentativa"</span>
    <a id="atribuir-nova-tentativa-tela-correcao" class="dropdown-button btn center verde-aqua" href="#" data-activates="criar-questao-drop">Atribuir Nova Tentativa</a>
</div>