@model SLCONSTRUCT.UI.WEB.ViewModels.LoginVModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Content/Home/Index.min.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/Scripts/Home/Index.js"></script>
}

<div class="bem-vindo">
    <h2 class="bem-vindo">Bem Vindo,</h2> 
    <h2 class="nome-home-user"></h2>
    <span>Utilize o menu para iniciar sua experiência na plataforma!</span>
</div>