.tabs {
  height: 134px; }
  .tabs .tab {
    height: 134px;
    width: 50% !important; }
    .tabs .tab a {
      padding: 0; }
  .tabs .indicator {
    background: #2440a0;
    opacity: 0.1;
    height: 100%;
    top: -36px; }

.disabled * {
  color: #a6aaad !important;
  border-color: #a6aaad !important; }
  .disabled * .wizard-btn {
    border: 10px solid #fff !important; }

#cadastro-usuario-formulario {
  padding: 20px; }
  #cadastro-usuario-formulario #cadastro-header-wizard {
    height: 150px;
    padding-top: 20px;
    margin-bottom: 0; }
    #cadastro-usuario-formulario #cadastro-header-wizard .wizard-col {
      position: relative;
      text-align: center;
      padding: 0;
      height: 90%;
      width: 100% !important; }
      #cadastro-usuario-formulario #cadastro-header-wizard .wizard-col i {
        border: 1px solid #2440a0;
        padding: 10px;
        border-radius: 50%;
        color: #2440a0;
        transition: all 0.5s ease; }
      #cadastro-usuario-formulario #cadastro-header-wizard .wizard-col h4 {
        font-size: 20px;
        color: #2440a0;
        transition: all 0.5s ease; }
      #cadastro-usuario-formulario #cadastro-header-wizard .wizard-col .wizard-progress {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
        background: #a6aaad;
        transition: all 0.5s ease; }
        #cadastro-usuario-formulario #cadastro-header-wizard .wizard-col .wizard-progress .progress {
          position: relative;
          height: 100%;
          width: 0;
          top: -7px;
          background: #2440a0 !important; }
      #cadastro-usuario-formulario #cadastro-header-wizard .wizard-col .center-wizard-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -13px; }
        #cadastro-usuario-formulario #cadastro-header-wizard .wizard-col .center-wizard-btn .wizard-btn {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #2440a0;
          border: 10px solid #fff;
          transition: all 0.5s ease;
          cursor: pointer; }
        #cadastro-usuario-formulario #cadastro-header-wizard .wizard-col .center-wizard-btn .wizard-btn-disabled {
          background: #a6aaad; }
      #cadastro-usuario-formulario #cadastro-header-wizard .wizard-col .progress-dados-login {
        border-left: 0; }
    #cadastro-usuario-formulario #cadastro-header-wizard #col-wizard-login i {
      color: #2440a0;
      border-color: #2440a0; }
    #cadastro-usuario-formulario #cadastro-header-wizard #col-wizard-login h4 {
      color: #2440a0; }
  #cadastro-usuario-formulario .progress-iniciado .progress {
    width: 50% !important; }
  #cadastro-usuario-formulario .progress-concluido .progress {
    width: 100% !important; }
  #cadastro-usuario-formulario .wizard-cadastro-status {
    display: none; }
  #cadastro-usuario-formulario input:not([type]):focus:not([readonly]), #cadastro-usuario-formulario input[type=text]:not(.browser-default):focus:not([readonly]), #cadastro-usuario-formulario input[type=password]:not(.browser-default):focus:not([readonly]), #cadastro-usuario-formulario input[type=email]:not(.browser-default):focus:not([readonly]), #cadastro-usuario-formulario input[type=url]:not(.browser-default):focus:not([readonly]), #cadastro-usuario-formulario input[type=time]:not(.browser-default):focus:not([readonly]), #cadastro-usuario-formulario input[type=date]:not(.browser-default):focus:not([readonly]), #cadastro-usuario-formulario input[type=datetime]:not(.browser-default):focus:not([readonly]), #cadastro-usuario-formulario input[type=datetime-local]:not(.browser-default):focus:not([readonly]), #cadastro-usuario-formulario input[type=tel]:not(.browser-default):focus:not([readonly]), #cadastro-usuario-formulario input[type=number]:not(.browser-default):focus:not([readonly]), #cadastro-usuario-formulario input[type=search]:not(.browser-default):focus:not([readonly]), #cadastro-usuario-formulario textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #2440a0 !important;
    -webkit-box-shadow: 0 1px 0 0 #2440a0 !important;
    box-shadow: 0 1px 0 0 #2440a0 !important; }
  #cadastro-usuario-formulario .wizard-cadastro-status.wizard-active {
    top: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #cadastro-usuario-formulario .wizard-content {
    min-height: 200px;
    padding: 20px;
    background: #fff; }
    #cadastro-usuario-formulario .wizard-content .image-input-wrapper {
      margin: 2rem; }
      #cadastro-usuario-formulario .wizard-content .image-input-wrapper .image-input {
        width: 100px;
        height: 100px;
        background: #e9ecf5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2440a0;
        cursor: pointer;
        position: relative; }
        #cadastro-usuario-formulario .wizard-content .image-input-wrapper .image-input input {
          width: 100%;
          height: 100%;
          opacity: 0;
          position: absolute;
          cursor: pointer; }
        #cadastro-usuario-formulario .wizard-content .image-input-wrapper .image-input #remover-foto-perfil {
          position: absolute;
          top: 0;
          right: -10px;
          cursor: pointer;
          display: none; }
        #cadastro-usuario-formulario .wizard-content .image-input-wrapper .image-input #alterar-foto-perfil {
          position: absolute;
          color: #fff;
          display: none;
          text-shadow: 1px 3px 0px #000; }
      #cadastro-usuario-formulario .wizard-content .image-input-wrapper .image-input-label {
        float: left;
        width: 100px;
        text-align: center; }
    #cadastro-usuario-formulario .wizard-content .divfoto {
      display: flex;
      justify-content: center;
      margin-left: 0; }
    #cadastro-usuario-formulario .wizard-content .dados-pessoais {
      margin: 0;
      margin-top: 20px; }
      #cadastro-usuario-formulario .wizard-content .dados-pessoais h5 {
        font-size: 12px;
        font-weight: bold;
        color: #b3b3b3; }
      #cadastro-usuario-formulario .wizard-content .dados-pessoais .btnControl {
        display: flex;
        justify-content: center;
        align-items: center; }
        #cadastro-usuario-formulario .wizard-content .dados-pessoais .btnControl .btn {
          margin: 1rem;
          min-width: 160px; }
        #cadastro-usuario-formulario .wizard-content .dados-pessoais .btnControl .btn-avancar-cadastro-usuario {
          float: right;
          background-color: #2440a0; }
        #cadastro-usuario-formulario .wizard-content .dados-pessoais .btnControl .btn-cancelar-cadastro-usuario {
          float: right;
          background-color: #a6aaad; }
  #cadastro-usuario-formulario .input-field {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; }
    #cadastro-usuario-formulario .input-field input {
      border: 1px solid #a6aaad;
      border-radius: 5px;
      margin-bottom: 0;
      padding: 0 0.5rem;
      position: relative;
      width: 100%; }
    #cadastro-usuario-formulario .input-field label {
      color: #a2a2a2; }
  #cadastro-usuario-formulario .caixa {
    border: 1px solid #e9eced;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
    background: url(../../app/upload/files/junior-amaro.png); }
    #cadastro-usuario-formulario .caixa .divfoto, #cadastro-usuario-formulario .caixa .dados-pessoais {
      width: 100%; }
  #cadastro-usuario-formulario #cadastro-usuario-dados-login .cadastro-login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px; }
    #cadastro-usuario-formulario #cadastro-usuario-dados-login .cadastro-login-wrapper .row {
      width: 400px;
      max-width: 500px;
      border: 1px solid #e9eced;
      padding: 20px; }
      #cadastro-usuario-formulario #cadastro-usuario-dados-login .cadastro-login-wrapper .row .input-field {
        margin-top: 2rem;
        margin-bottom: 0; }
      #cadastro-usuario-formulario #cadastro-usuario-dados-login .cadastro-login-wrapper .row .btn {
        margin: 3rem 0 !important;
        min-width: auto !important; }
      #cadastro-usuario-formulario #cadastro-usuario-dados-login .cadastro-login-wrapper .row .eye-senha {
        position: absolute;
        top: 33px;
        right: 20px;
        color: #777;
        cursor: pointer; }
        #cadastro-usuario-formulario #cadastro-usuario-dados-login .cadastro-login-wrapper .row .eye-senha i {
          position: relative;
          top: -19px; }
      #cadastro-usuario-formulario #cadastro-usuario-dados-login .cadastro-login-wrapper .row input {
        border: 1px solid #a6aaad;
        border-radius: 5px;
        padding: 0 0.5rem; }
      #cadastro-usuario-formulario #cadastro-usuario-dados-login .cadastro-login-wrapper .row .btn-salvar-login-senha {
        display: flex;
        justify-content: center;
        align-items: center; }

.picker__date-display {
  text-align: left;
  background-color: #2440a0;
  color: #fff;
  padding: 18px;
  font-weight: 300; }

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  border-radius: 50%;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  background-color: #2440a0;
  color: #ffffff; }

.picker__day.picker__day--today {
  color: #2440a0; }

.picker__close, .picker__today {
  font-size: 1.1rem;
  padding: 0 1rem;
  color: #2440a0; }

.picker__clear {
  color: #f44336;
  float: left; }

@media only screen and (max-width: 900px) {
  #cadastro-usuario-formulario {
    padding: 0 !important; }
    #cadastro-usuario-formulario .wizard-cadastro-status.wizard-active {
      top: 0; }

  .tabs, .tab, .tab a {
    height: 50px !important; }

  .tabs {
    display: flex;
    justify-content: center; }
    .tabs .tab {
      position: relative;
      width: 100% !important;
      margin: 0 !important;
      padding: 0 2rem; }
      .tabs .tab .header-content-wizard {
        display: flex;
        align-items: center; }
        .tabs .tab .header-content-wizard i {
          margin-right: 1rem; }
      .tabs .tab a div {
        justify-content: center;
        display: flex; }

  .cadastro-login-wrapper {
    padding: 0 !important; }
    .cadastro-login-wrapper .row {
      max-width: 100% !important;
      width: 100% !important;
      margin: 0; }
      .cadastro-login-wrapper .row .btn {
        width: 100%; }

  #cadastro-header-wizard {
    height: auto !important;
    margin: 0;
    padding: 0; }
    #cadastro-header-wizard > div {
      padding: 0; }

  .progress-dados-usuario, .progress-dados-login, .center-wizard-btn, .indicator {
    display: none !important; }

  .caixa {
    width: 100% !important; }
    .caixa .btnControl {
      justify-content: center !important; } }
@media only screen and (max-width: 600px) {
  #cadastro-usuario-formulario #cadastro-usuario-dados-usuario {
    padding: 0 !important; }
    #cadastro-usuario-formulario #cadastro-usuario-dados-usuario div {
      padding: 0 !important; }
    #cadastro-usuario-formulario #cadastro-usuario-dados-usuario .caixa {
      padding: 1.5rem !important;
      border: 0 !important; }
      #cadastro-usuario-formulario #cadastro-usuario-dados-usuario .caixa .divfoto {
        border: 1px solid #a6aaad;
        border-radius: 5px; }
      #cadastro-usuario-formulario #cadastro-usuario-dados-usuario .caixa .btnControl {
        justify-content: space-between;
        margin-top: 2rem; }
        #cadastro-usuario-formulario #cadastro-usuario-dados-usuario .caixa .btnControl .btn {
          padding: 0 14px;
          min-width: 47% !important; }

  .cadastro-login-wrapper .row {
    border: 0 !important;
    padding: 0 !important; }

  .tabs, .tab, .tab a {
    height: auto !important; }

  .tabs {
    flex-direction: column;
    width: 300px; }
    .tabs .tab a div {
      justify-content: start;
      display: flex; }

  .input-field {
    width: 100% !important; } }

/*# sourceMappingURL=cadastro.css.map */
