@model  IEnumerable<SLCONSTRUCT.UI.WEB.ViewModels.ConteudoVModel>

<div class="col l2 titulo-item">
    <p>Vídeos</p>
    @if (ViewBag.PossuiPermissaoGravacao)
    {
        if (Model.Count() > 0)
        {
            <i class="fa fa-check checado" aria-hidden="true"></i>
            <i class="fa fa-plus adicionar-item abre-modal-video" aria-hidden="true"></i>
        }
        else
        {
            <i class="fa fa-plus adicionar-item icons-plus-checked-align abre-modal-video" aria-hidden="true"></i>
        }
    }
</div>
<div class="col l10">
    <table class="bordered">
        <thead>
            <tr>
                <th class="alinhaguia-first">Título</th>
                <th class="alinhaguia">Url</th>
                <th class="-acoes alinhaguia-last">Ações</th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr data-coditem="@item.codconteudo">
                        <td class="titulovideo">@item.titulo</td>
                        <td class="url">@item.conteudo</td>
                        <td class="-acoes">
                            @if (ViewBag.PossuiPermissaoGravacao)
                            {
                                <i class="fa fa-trash-o fas fa-trash-alt delete exclui-video" aria-hidden="true" title="Excluir"></i>
                                <i class="fas fa-pen-square editar-video" aria-hidden="true" title="Editar" data-nomeanexo="@item.nomearquivoanexo"></i>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {

                <tr>
                    <td>Nenhum vídeo cadastrado</td>
                    <td class="right"></td>

                </tr>
            }
        </tbody>
    </table>
</div>
