@model SLCONSTRUCT.UI.WEB.ViewModels.QuestaoUnificacaoVModel

<div class="questao row">

    <div class="enunciado">
        <span class="subtitle">enunciado</span>
        @Html.Raw(Model.Enunciado)
    </div>

    @if (Model.Alternativas.Count() > 0)
    {
        <div class="alternativas">
            <span class="subtitle">alternativas</span>

            @foreach (var alternativa in Model.Alternativas)
            {
                var questaoCorreta = alternativa.Correta ? "true" : "false";
                <div class="col s12 resposta">

                    @if (alternativa.Correta)
                    {
                        <section><i class="fas fa-check col s1 @questaoCorreta"></i></section>
                    }
                    else
                    {
                        <section><i class="fas fa-times col s1 @questaoCorreta"></i></section>
                    }

                    <div class="col s11 descritor">

                        @Html.Raw(alternativa.Descricao)

                    </div>
                </div>
            }
            
        </div>
    }


</div>
