
<div class="row no-margin">

    <div class="animate col s4">
        <div class="drawing" id="loading">
            <div class="loading-dot"></div>
        </div>
    </div>

    <div class="col s6 content">
        <div class="title">Unificando...</div>
        <div class="descrption">Unificando as questões selecionadas, aguarde.</div>
    </div>
</div>