
<div class="row no-margin modal-content">

    <span>Carregando...</span>
    <span>Carregando questões, aguarde.</span>
    

    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</div>