$colors: ( branco: #fff, preto: #131A1D, azul: #2440a0, cinza: #a6aaad, varde:#00CBB5, varmelho:#D22E2E );


.tabs {
    height: 134px;
    
    .tab {
        height: 134px;
        width: 50% !important;
        a {
            padding: 0;
        }
    }
    
    .active {

    }

    .indicator {
        background: map-get($colors, azul);
        opacity: 0.1;
        height: 100%;
        top: -36px;
    }
}

.disabled {

    * {
        color: map-get($colors, cinza) !important;
        border-color: map-get($colors, cinza) !important;

        .wizard-btn {
            border: 10px solid #fff !important;
        }
    }
}

#cadastro-usuario-formulario {
    padding: 20px;

    #cadastro-header-wizard {
        height: 150px;
        padding-top: 20px;
        margin-bottom: 0;

        .wizard-col {
            position: relative;
            text-align: center;
            padding: 0;
            height: 90%;
            width: 100% !important;

            i {
                border: 1px solid map-get($colors, azul);
                padding: 10px;
                border-radius: 50%;
                color: map-get($colors, azul);
                transition: all 0.5s ease;
            }

            h4 {
                font-size: 20px;
                color: map-get($colors, azul);
                transition: all 0.5s ease;
            }

            .wizard-progress {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 10px;
                background: map-get($colors, cinza);
                transition: all 0.5s ease;

                .progress {
                    position: relative;
                    height: 100%;
                    width: 0;
                    top: -7px;
                    background: map-get($colors, azul) !important;
                }
            }

            .center-wizard-btn {
                width: 100%;
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: -13px;

                .wizard-btn {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: map-get($colors, azul);
                    border: 10px solid #fff;
                    transition: all 0.5s ease;
                    cursor: pointer;
                }

                .wizard-btn-disabled {
                    background: map-get($colors, cinza);
                }
            }

            .progress-dados-login {
                border-left: 0;
            }
        }

        #col-wizard-login {
            i {
                color: map-get($colors, azul);
                border-color: map-get($colors, azul);
            }

            h4 {
                color: map-get($colors, azul);
            }
        }
    }

    .progress-iniciado {
        .progress {
            width: 50% !important;
        }
    }

    .progress-concluido {
        .progress {
            width: 100% !important;
        }
    }

    .wizard-cadastro-status {
        display: none;
    }

    input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid map-get($colors, azul) !important;
        -webkit-box-shadow: 0 1px 0 0 map-get($colors, azul) !important;
        box-shadow: 0 1px 0 0 map-get($colors, azul) !important;
    }

    .wizard-cadastro-status.wizard-active {
        //border-top: 1px solid map-get($colors, cinza);
        top: 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wizard-content {
        min-height: 200px;
        padding: 20px;
        background: #fff;

        .image-input-wrapper {
            //float: left;
            margin: 2rem;

            .image-input {
                width: 100px;
                height: 100px;
                background: #e9ecf5;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: map-get($colors, azul);
                cursor: pointer;
                position: relative;

                input {
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    position: absolute;
                    cursor: pointer;
                }

                #remover-foto-perfil {
                    position: absolute;
                    top: 0;
                    right: -10px;
                    cursor: pointer;
                    display: none;
                }

                #alterar-foto-perfil {
                    position: absolute;
                    color: #fff;
                    display: none;
                    text-shadow: 1px 3px 0px #000;
                }
            }

            .image-input-label {
                float: left;
                width: 100px;
                text-align: center;
            }
        }

        .divfoto {
            display: flex;
            justify-content: center;
            margin-left: 0;
        }

        .dados-pessoais {
            margin: 0;
            margin-top: 20px;

            h5 {
                font-size: 12px;
                font-weight: bold;
                color: #b3b3b3;
            }

            .btnControl {
                display: flex;
                justify-content: center;
                align-items: center;

                .btn {
                    margin: 1rem;
                    min-width: 160px;
                }

                .btn-avancar-cadastro-usuario {
                    float: right;
                    background-color: map-get($colors, azul);
                }
    
                .btn-cancelar-cadastro-usuario {
                    float: right;
                    background-color: map-get($colors, cinza);
                }
            }
        }
    }

    .input-field {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        input {
            border: 1px solid map-get($colors, cinza);
            border-radius: 5px;
            margin-bottom: 0;
            padding: 0 0.5rem;
            position: relative;
            width: 100%;
        }

        label {
            color: #a2a2a2;
        }
    }

    .caixa {
        border: 1px solid #e9eced;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 50%;

        background: url(../../app/upload/files/junior-amaro.png);
        
        .divfoto, .dados-pessoais {
            width: 100%;
        }
    }

    #cadastro-usuario-dados-login {

        .cadastro-login-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 20px;

            .row {
                width: 400px;
                max-width: 500px;
                border: 1px solid #e9eced;
                padding: 20px;

                .input-field {
                    margin-top: 2rem;
                    margin-bottom: 0;
                }
    
                .btn {
                    margin: 3rem 0 !important;
                    min-width: auto !important;
                }

                .eye-senha {
                    position: absolute;
                    top: 33px;
                    right: 20px;
                    color: #777;
                    cursor: pointer;

                    i {
                        position: relative;
                        top: -19px;
                    }
                }

                input {
                    border: 1px solid map-get($colors, cinza);
                    border-radius: 5px;
                    padding: 0 0.5rem;
                }

                .btn-salvar-login-senha {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

.picker__date-display {
    text-align: left;
    background-color: map-get($colors, azul);
    color: #fff;
    padding: 18px;
    font-weight: 300;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background-color: map-get($colors, azul);
    color: #ffffff;
}

.picker__day.picker__day--today {
    color: map-get($colors, azul);
}

.picker__close, .picker__today {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: map-get($colors, azul);
}

.picker__clear {
    color: #f44336;
    float: left;
}


@media only screen and (max-width:900px) {
    #cadastro-usuario-formulario {
        padding: 0 !important;

        .wizard-cadastro-status.wizard-active {
            top: 0;
        }
    }

    .tabs, .tab, .tab a {
        height: 50px !important;
    }

    .tabs {
        display: flex;
        //flex-direction: column;
        justify-content: center;

        .tab {
            position: relative;
            width: 100% !important;
            margin: 0 !important;
            padding: 0 2rem;

            .header-content-wizard {
                display: flex;
                align-items: center;

                i {
                    margin-right: 1rem;
                }
            }

            a div {
                justify-content: center;
                display: flex;
            }
        }
    }

    .cadastro-login-wrapper {
        padding: 0 !important;

        .row {
            max-width: 100% !important;
            width: 100% !important;
            margin: 0;

            .btn {
                width: 100%;
            }
        }
    }

    #cadastro-header-wizard {
        height: auto !important;
        margin: 0;
        padding: 0;

        >div {
            padding: 0;
        }
    }

    .progress-dados-usuario, .progress-dados-login, .center-wizard-btn, .indicator {
        display: none !important;
    }

    .caixa {
        width: 100% !important;
    }
}

@media only screen and (max-width:600px) {
    #cadastro-usuario-formulario {
        
        #cadastro-usuario-dados-usuario {
            padding: 0 !important;
            
            div {
                padding: 0 !important;
            }
            
            .caixa {
                padding: 1.5rem !important;
                border: 0 !important;

                .divfoto {
                    border: 1px solid #a6aaad;
                    border-radius: 5px;
                }

                .btnControl {
                    justify-content: space-between;
                    margin-top: 2rem;

                    .btn {
                        padding: 0 14px;
                        margin: 0;
                    }
                }
            }
        }
    }

    .cadastro-login-wrapper {

        .row {
            border: 0 !important;
            padding: 0 !important;
        }
    }

    .tabs, .tab, .tab a {
        height: auto !important;
    }

    .tabs {
        flex-direction: column;
        width: 300px;

        .tab {

            a div {
                justify-content: start;
                display: flex;
            }
        }
    }

    .input-field {
        width: 100% !important;
    }
}