
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col s12">

        <button class="btn ">botao</button>
        <a href="#" class="btn verde-aqua">content</a>
    </div>
    <div class="col s12">
        <div class="input-field col s4">
            <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>Materialize Select</label>
        </div>
        <div class="input-field col s4">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
        <div class="file-field input-field col s4">
            <div class="btn">
                <span>Anexar</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <label><input class="file-path validate" type="text"></label>
            </div>
        </div>
    </div>
    <div class="col s12">

        <input name="group1" type="radio" id="test1" />
        <label for="test1">Red</label>

        <input name="group1" type="radio" id="test2" />
        <label for="test2">Yellow</label>

        <input class="with-gap" name="group1" type="radio" id="test3" />
        <label for="test3">Green</label>

        <input name="group1" type="radio" id="test4" disabled="disabled" />
        <label for="test4">Brown</label>

    </div>
    <div class="col s12">
        <div style="display:inline-block">
            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
            <label for="filled-in-box">Filled in</label>
        </div>
        <div style="display:inline-block">
            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
            <label for="filled-in-box">Filled in</label>
        </div>
        <div style="display:inline-block">
            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
            <label for="filled-in-box">Filled in</label>
        </div>
        <div style="display:inline-block">
            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
            <label for="filled-in-box">Filled in</label>
        </div>
    </div>
    <div class="col s12">
        <table class="bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Item Name</th>
                    <th>Item Price</th>
                    <th class="-acoes">Ações</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                    <td class="-acoes">
                        <i class="fas fa-eye" aria-hidden="true"></i>
                        <i class="fas fa-clone" aria-hidden="true"></i>
                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                    <td class="-acoes">
                        <i class="fas fa-eye" aria-hidden="true"></i>
                        <i class="fas fa-clone" aria-hidden="true"></i>
                        <i class="fas fas fa-trash-alt" aria-hidden="true"></i>
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                    <td class="-acoes">
                        <i class="fas fa-eye" aria-hidden="true"></i>
                        <i class="fas fa-clone" aria-hidden="true"></i>
                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col s12">
        <i class="fas fa-home icon-padrao botao-home" aria-hidden="true"></i>
        <i class="fas fa-home icon-padrao circular botao-home" aria-hidden="true"></i>
    </div>
    <div class="col s12">
        <div class="icon-padrao-sobreposto">
            <i class="fas fa-users icon-padrao sobreposto-maior" aria-hidden="true"></i>
            <i class="fas fa-desktop icon-padrao sobreposto-menor" aria-hidden="true"></i>
        </div>
        <div class="icon-padrao-sobreposto circular">
            <i class="fas fa-users icon-padrao sobreposto-maior" aria-hidden="true"></i>
            <i class="fas fa-desktop icon-padrao sobreposto-menor" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col s12">
        <div>
            <i class="fas fa-home icon-padrao botao-home" aria-hidden="true"></i><h2 class="sl-titulo sl-navy-blue">Título</h2>
            <i class="fas fa-angle-right" aria-hidden="true"></i><h2 class="sl-subtitulo sl-navy-blue">subtítulo</h2>
        </div>
        <div>
            <i class="fas fa-home icon-padrao botao-home" aria-hidden="true"></i><h2 class="sl-titulo-default sl-navy-blue">Título</h2>

        </div>
        <div>
            <i class="fas fa-cog sl-black-pearl" aria-hidden="true"></i>
            <i class="fas fa-eercast sl-navy-blue" aria-hidden="true"></i>
            <i class="fas fa-bookmark sl-silver" aria-hidden="true"></i>
            <i class="fas fa-bookmark sl-verde-aqua" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col s12">
        <!--Boatao pra acionar modal-->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal default-sl-blue modal-fixed-footer">
            <div class="modal-header">
                <h4 class="titulo-modal-default-sl">pacote #090 <i class="fas fa-angle-right" aria-hidden="true"></i> banco de questões <i class="fas fa-angle-right" aria-hidden="true"></i>  questão 01</h4>
                <span class="modal-close-default-sl modal-close">fechar <i class="far fa-window-close"></i></span>
            </div>
            <div class="modal-content">
                <h4>Conteudo do modal</h4>
                <p>texto texto</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-salva-default" type="button">Adicionar</button>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="bloco-conteudo-padrao-pesquisa">
            <div class="row">
                <div class="col l12">
                    <i class="fas fa-search icon-padrao circular items" aria-hidden="true"></i><h2 class="sl-titulo-default sl-navy-blue">Pesquisar</h2>
                </div>
                <div class="input-field col l12">
                    <select>
                        <option value="" disabled selected>Escolha uma opção</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Disciplina</label>
                </div>
                <div class="col l6">
                    <div>
                        <span class="title-radio-button">Status</span>

                        <input name="group1" type="radio" id="test10" />
                        <label for="test10">Red</label>

                        <input name="group1" type="radio" id="test20" />
                        <label for="test20">Yellow</label>

                        <input class="with-gap" name="group1" type="radio" id="test30" />
                        <label for="test30">Green</label>
                    </div>
                </div>
                <div class="col l6">
                    <div>
                        <span class="title-radio-button">Trabalhando</span>

                        <input name="group1" type="radio" id="test100" />
                        <label for="test100">Red</label>

                        <input name="group1" type="radio" id="test200" />
                        <label for="test200">Yellow</label>

                        <input class="with-gap" name="group1" type="radio" id="test300" />
                        <label for="test300">Green</label>
                    </div>
                </div>
                <div class="input-field col l12">
                    <input placeholder="Ex: CodigoDoPacote, status" id="first_name" type="text" class="validate">
                    <label for="first_name">Campo de busca</label>
                </div>
                <div class="center col l12">
                    <button class="btn" type="button">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>
   
</div>