
@{
    ViewBag.Title = "Index";
}

@section Scripts {

    <script src="~/Scripts/libs/jquery-3.2.1.min.js"></script>
    <script src="~/Content/materialize/js/materialize.js"></script>
    <script src="~/Scripts/ProjecaoMovidesk/projecao.js?id=1"></script>
}

<h2>Carregando dados...</h2>

