<div class="col l12 no-padding">
    <div class="wizard_new_head ">
        <div class="wizard_new">
            <ul>
                <li><a href="#"><span>Informações Gerais</span></a></li>
                <li><a href="#"><span>Itens</span></a></li>
                <li><a href="#"><span>Conclusão</span></a></li>
            </ul>
        </div>
    </div>
</div>