
<div class="row wizard">
    <div class=" main-wizard col s12">

        <section class="steps se">
            <ul class="steps-list ">
                <li class="steps-item">
                    <i class="steps-icon fa" aria-hidden="true"></i>
                    <strong class="steps-label">INFORMAÇÕES DO SISTEMA</strong>
                </li>
                <li class="steps-item">
                    <i class="steps-icon fa" aria-hidden="true"></i>
                    <strong class="steps-label">CADASTRO DE ITENS</strong>
                </li>
                @*<li class="steps-item @(ViewBag.IdPagina == 3 ? "-current" : ViewBag.IdPagina > 3 ? "-done" : "-todo")">
                    <i class="steps-icon fa @(@ViewBag.IdPagina <= 3 ? "fa-graduation-cap" : "fa-check")" aria-hidden="true"></i>
                    <strong class="steps-label">TÁBUA DE CORREÇÃO</strong>
                </li>*@
                <li class="steps-item">
                    <i class="steps-icon fa" aria-hidden="true"></i>
                    <strong class="steps-label">CONCLUIR</strong>
                </li>
            </ul>
            <div class="divider"></div>
        </section>
    </div>
    @*<div class="container-subtitulo z-depth-1 col s12">
            <h2 class="subtitulo-wizard">@ViewBag.title</h2>
        </div>*@
</div>