
<input type="hidden" id="hfnumpage" name="hfnumpage" value="3" />

<div style="display: flex; align-items: center; text-align: center;">
    <h4 style="top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    font-family: 'Source Sans Pro';
    font-weight: 100;
    position: absolute;">
        O Cadastro da base itens foi concluído com sucesso!
    </h4>
</div>

