@model int

<div class="bloco-conteudo-padrao">

    <div class="row">
        <div class="col l12 center">
            <h4 style="font-size: 1.1rem;">SEU PACOTE FOI CADASTRADO COM SUCESSO!</h4>
            <a href="@Url.Action("UnidadeAprendizagem", "UA", new { codbaseunidadeaprendizagem = Model })" class="btn btn-editar">editar</a>
            @if (ViewBag.PossuiPermissaoLeituraListagem)
            {
                <a class="btn" href="@Url.Action("Index", "UA")">finalizar</a>
            }
            else
            {
                <a class="btn" href="@Url.Action("UnidadeAprendizagem", "UA")">finalizar</a>
            }
        </div>
    </div>
</div>
