<div class="bloco-conteudo-padrao-pesquisa">
    <div class="row">
        <div class="col l12 s12">
            <i class="fas fa-search icon-padrao circular items" aria-hidden="true"></i><h2 class="sl-titulo-default sl-navy-blue">Pesquisar</h2>
        </div>
        <div class="input-field col l12 s12">
            <select id="ddlDisciplinaFiltro"></select>
            <label>Disciplina</label>
        </div>
        <div class="col l6 s6">
            <div>
                <span class="title-radio-button">Status</span>

                <input name="statusua" type="radio" id="test10" value="" />
                <label for="test10">Todos</label>

                <input name="statusua" type="radio" id="test20" value="Concluida" />
                <label for="test20">Concluído</label>

                <input name="statusua" type="radio" id="test30" value="NaoConcluida" />
                <label for="test30">Não Concluído</label>
            </div>
        </div>
        <div class="input-field col l12 s12">
            <input placeholder="Digite o nome do usuário criador" id="usuarioCriador" type="text" class="validate" maxlength="100">
            <label for="first_name">Usuário Criador</label>
        </div>
        <div class="input-field col l12 s12">
            <input placeholder="Digite o nome do usuário da última atualização" id="usuarioUltimaAtualizacao" type="text" class="validate" maxlength="100">
            <label for="first_name">Usuário da Última Atualização</label>
        </div>
        <div class="input-field col l12 s12">
            <input placeholder="Ex: CodigoDoPacote, status" id="txtPesquisa" type="text" class="validate" maxlength="150">
            <label for="first_name">Campo de busca</label>
        </div>
        <div class="center col l12">
            <button class="btn btn-pesquisa-ua" type="button">Pesquisar</button>
        </div>
    </div>
</div>
