@model SLCONSTRUCT.UI.WEB.ViewModels.ItemObjetivoVModel

@if (Model.listaItemobjetivo.Count() > 0)
{
    <table id="table-pesq-habilidades" class="striped">
        <thead>
            <tr>
                <th class="largura-titulo-tr">Titulo</th>
                <th class="-acoes">Ações</th>
                <th><i class=" fas fa-plus sl-navy-blue itemmicrodesafio" aria-hidden="true"></i></th>
            </tr>
        </thead>

        <tbody>

            @if (Model.listaItemobjetivo.Count() > 0)
            {
                foreach (var item in Model.listaItemobjetivo)
                {
                    <tr data-coditem="@item.coditem">
                        <td>@item.Titulo</td>
                        <td class="-acoes">
                            <i class="fas fa-pen-square alterar-item-micro" aria-hidden="true"></i>
                            <i class="fas fa-trash-alt exclui-item-micro" aria-hidden="true" title="Excluir"></i>
                        </td>
                        <td></td>
                    </tr>
                }
             }

        </tbody>

    </table>
}
else
{

    <div class="center paddingcollapse">
        <div class="">
            <span>NÃO HÁ QUESTÕES CADASTRADAS</span>
        </div>
        <div class="itemcollapse">
            <i class="fas fa-plus adicionar-item abre-modal-microdesafio" aria-hidden="true"></i>Criar Questão
        </div>
    </div>
}



