@model  IEnumerable<SLCONSTRUCT.UI.WEB.ViewModels.ConteudoVModel>

<span class="input-title-div">Vídeos</span>
<table id="tabela-de-videos" class="striped z-depth-1">
    <thead>
        <tr>
            <th>Vídeos</th>
            <th></th>
            <th class="right"><i class="fas fa-plus abre-modal-video" title="Adicionar" aria-hidden="true"></i></th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr data-coditem="@item.codconteudo">
                    <td class="titulovideo">@item.titulo</td>
                    <td class="url">@item.conteudo</td>
                    <td class="right"><i class="fas fa-pen-square editar-video" aria-hidden="true" title="Editar"></i> <i class="fas fa-trash-alt delete exclui-video" aria-hidden="true" title="Excluir"></i></td>

                </tr>
            }
        }
        else {

            <tr>
                <td>Nenhum vídeo cadastrado</td>
                <td class="right"></td>

            </tr>
        }


    </tbody>
</table>
