<div class="cmp-filtro-avancado">
    <form class="filtro-avancado" data-js="form-validate">
        <div class="col s12 aux">
            <h4 class="title title-topo hide-on-med-and-up">busca avançada</h4>
            @*<ul class="tabs hide-on-small-only">
                <li class="tab col s2"><a id="aHrefBuscarPor" class="active" href="#divConteudoFiltro">BUSCA NOVA</a></li>
                <li class="indicator" style="right: 1393px; left: 0px;"></li>
            </ul>*@
        </div>
        <hr class="hide-on-med-and-up" />
        <div id="divConteudoFiltro">
            <section id="filtros">
                <div class="row divRowFiltros no-margin">
                    <div id="divFiltros" class="col s12 m3 input-field">
                        <select id="selectCampo" name="selectCampo" class="selectCampo filtro-top-radius" required></select>
                        <label class="hide-on-small-only">Filtro</label>
                    </div>

                    <div id="divCondicoes" class="col s12 m3 input-field">
                        <select id="selectCondicao" name="selectCondicao" class="selectCondicao cor-fundo" required>
                            <option value="" selected disabled>Condição</option>
                        </select>
                        <label class="hide-on-small-only">Condição</label>
                    </div>

                    <div id="divValores" class="col s12 m6 input-field">
                        <input id="inputValor" name="inputValor" class="inputValor filtro-bottom-radius" type="text" value="" required="required" placeholder="Digite sua pesquisa" />
                        <i class="fas fa-search input" aria-hidden="true"></i>
                        <label data-error="" for="inputValor"></label>

                        <select id="selectSimNao" name="selectSimNao" class="selectSimNao hide" required>
                            <option value="" selected disabled>Condição</option>
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                        </select>

                        <select id="selectCustomizado" name="selectCustomizado" class="selectCustomizado hide" required>
                            <option value="" selected disabled>Condição</option>
                        </select>
                    </div>

                    <div id="divValoresAux" class="col s12 m3 input-field hide">
                        <input id="inputValorAux" name="inputValorAux" class="inputValorAux filtro-bottom-radius date" type="text" required="required" placeholder="Data final" />
                        <i class="fas fa-search input" aria-hidden="true"></i>
                        <label data-error="" for="inputValorAux"></label>
                    </div>

                    <div class="col s12">
                        <a id="btnAdicionarFiltro" class="link btnAdicionarFiltro right">
                            <i class="fas fa-plus" aria-hidden="true"></i>Adicionar
                        </a>
                    </div>
                </div>

                @*<div id="divErros" class="row" style="text-align:left">
                    <div class="col m3 font-vermelho">
                        <div id="divErrorFiltros"></div>
                    </div>
                    <div class="col m3 font-vermelho">
                        <div id="divErrorCondicoes"></div>
                    </div>
                    <div class="col m4 font-vermelho">
                        <div id="divErrorValores"></div>
                    </div>
                    <div id="" class="col m2 font-vermelho">
                    </div>
                </div>*@

                <div class="row linha-chips no-margin hide">
                    <div class="col s12">
                        <div class="card-chips">
                            <div class="chips tags-filtro left">

                            </div>
                            <div class="botao-limpar-busca-mobile hide-on-med-and-up">
                                <a href="#"><i class="fas fa-trash-alt" aria-hidden="true"></i> LIMPAR</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row zeraMargem">
                    @*<div class="divider"></div>
                    <div class="col s12 m6 divRowPadding">
                        <span class="label-switch">Salvar Buscas?</span>
                        <div id="switchSalvarBusca" class="switch">
                            <label>
                                Não
                                <input type="checkbox">
                                <span class="lever"></span>
                                Sim
                            </label>
                        </div>
                    </div>
                    <div class="divider hide-on-med-and-up col s12"></div>
                    <div class="col s6 divRowPadding limparBusca hide-on-med-and-up">
                        <a id="btnLimpar" class="waves-effect waves-light btn-large left btn-grey btnLimpar"><i class="fa fa-times" aria-hidden="true"></i> Limpar</a>
                    </div>*@
                    <div class="col s12 divRowPadding limparBusca">
                        @*<div class="salvar-busca">
                            <input type="checkbox" class="" id="Mobilesalvarbusca"/>
                            <label for="Mobilesalvarbusca">Salvar Filtros</label>
                        </div>*@
                        <a id="btnBuscar" class="waves-effect waves-light btn-large right bg-p btnBuscar"><i class="fas fa-search" aria-hidden="true"></i> Buscar</a>
                    </div>
                </div>
                @*<div class="hide-on-small-only" style="position: relative"><section class="span-busca-avancada" style="position: absolute"><span>BUSCA AVANÇADA</span></section></div>*@
                
            </section>
        </div>
    </form>

    <div class="grid-pag">
        <div class="grid"></div>
        <div class="grid-hide hide"><table><thead><tr></tr></thead><tbody></tbody></table></div>
        <div class="row no-margin hide head-grid hide-on-small-only">
            <div class="col s12 divRowPadding cinzaClaro">
                @*<div class="col m2 ">
                    <select id="selectOrdenacao">
                        <option value="" selected>Ordenação</option>
                        <option value="crescente">Crescente</option>
                        <option value="decrescente">Decrescente</option>
                    </select>
                </div>*@
                <div class="left">
                    @*a classe .pag é para limitar a largura do select:::::: width: 100px*@
                    <select class="selectPaginacao">
                        <option value="">Nº registros</option>
                        <option value="10" selected> 10 </option>
                        <option value="25"> 25 </option>
                        <option value="50"> 50 </option>
                        <option value="100">100 </option>
                    </select>
                </div>
                <div class="right acoes"></div>
            </div>
        </div>

        <div class="hide-on-med-and-up acoesQTDregistrosMobile hide">
            <select class="selectPaginacao">
                <option value="">Nº registros</option>
                <option value="10" selected> 10 </option>
                <option value="25"> 25 </option>
                <option value="50"> 50 </option>
                <option value="100">100 </option>
            </select>
            <div class="right acoes"></div>
        </div>
        <div class="row paginacao no-margin hide center">
            <div class="col s12 botoes-paginacao">
                <button type="button" class="btn waves-effect inicio hide-on-small-only" title="Início"><i class="fas fa-angle-double-left black-text" aria-hidden="true"></i></button>
                <button type="button" class="btn waves-effect anterior" title="Anterior"><i class="fas fa-angle-left black-text" aria-hidden="true"></i></button>

                <div class="contador hide-on-small-only"><span class="pag-atual"></span> / <span class="pag-total"></span></div>

                <button type="button" class="btn waves-effect proximo" title="Próximo"><i class="fas fa-angle-right black-text" aria-hidden="true"></i></button>
                <button type="button" class="btn waves-effect fim hide-on-small-only" title="Fim"><i class="fas fa-angle-double-right black-text" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>