@model IEnumerable<SLCONSTRUCT.UI.WEB.ViewModels.ListagemUsuarioVModel>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Content/Usuarios/ListagemUsuarios.min.css" rel="stylesheet" />
}

@section Scripts {
    <script>    
        var urlLoadPerfisUsuario = "@Url.Action("LoadPerfisUsuario", "Usuarios")"; 
        var urlSalvarPerfisUsuario = "@Url.Action("SalvarPerfisUsuario", "Usuarios")";
    </script>

    <script>
        var urlListarUsuarios = "@Url.Action("ListarUsuarios", "Usuarios")";
    </script>
    <script src="~/Scripts/Usuarios/ListagemUsuarios.js"></script>
}
<div id="listagem-usuarios-principal">
    <div id="listagem-usuarios-header" class="row">

        <div class="col l12 no-padding">
            <div>
                <i class="fas fa-home icon-padrao botao-home" aria-hidden="true"></i><h2 class="sl-titulo sl-navy-blue">Usuários</h2>
                <i class="fas fa-angle-right" aria-hidden="true"></i><h2 class="sl-subtitulo sl-navy-blue">Listagem</h2>
            </div>
        </div>

        @*@<div class="col l12">
            <a href="@Url.Action("CadastrarUsuario","Usuarios")" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Novo Usuário</a>
        </div>*@
        <div id="filtro-listagem-usuarios" class="row">
            <div class="col m3 input-field listagem-usuario-filtro-select">
                <select>
                    <option value="" disabled selected>Escolha um filtro</option>
                    <option value="1">Usuário</option>
                    <option value="2">E-mail</option>
                    <option value="3">CPF</option>
                </select>
                <label>Filtro</label>
            </div>
            <div class="col m9 input-field listagem-usuario-filtro-input">
                <input placeholder="Digite aqui sua pesquisa" id="pesquisa_usuario" type="text" class="validate">
                <label for="last_name">Pesquisa</label>
            </div>

            <div class="col s12 btn-pesquisa-usuario">
                <button class="waves-effect waves-light btn right"><i class="material-icons right">search</i>Pesquisar</button>
            </div>
        </div>
    </div>
    <div id="listagem-usuarios-partial-table">
        @*@Html.Partial("~/Views/Usuarios/Partial/ListagemUsuariosPartial.cshtml", Model)*@
    </div>
</div>
